@import '../../mixins.scss';

.video {
    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__list {
        background-color: #fefefe;
        height: 57vh;
        overflow: auto;

        @include desktop {
            height: 43vh;
            overflow: auto;
        }

        &__item {
            width: auto;

            @include desktop {
                width: 100%;
            }
        }
    }

    &__card {
        display: flex;
        width: 100%;
    }

    &__card-info {
        display: flex;
    }

    &__media {
        width: 150px;
        height: 75px;

        @include desktop {
            min-width: 250px;
            min-height: 140px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;

        @include desktop {
            display: flex;
            flex-direction: row;
        }
    }

    &__card-content {
        padding: 10px;
    }

    &__description {
        display: none;

        @include desktop {
            display: block;
            width: 100%;
        }
    }
}
