@import '../../mixins.scss';

.controls {
    @include desktop {
        width: 80%;
    }

    &__buttons {
        background-color: #fefefe;
        display: flex;
        justify-content: center;
        padding: 10px 0;

        @include desktop {
            display: flex;
            justify-content: center;
        }

        &__volume {
            display: flex;

            #volume-bar {
                width: 100px;
                margin: 0 10px;
            }
        }

        &__brightness {
            display: flex;

            #volume-bar {
                width: 100px;
                margin: 0 10px;
            }
        }
    }
}
