@import '../../mixins.scss';

.display {
    background-color: #fefefe;
    height: 33vh;
    width: 100vw;

    @include desktop {
        height: 50vh;
        width: 80%;
    }

    &__video {
        display: flex;
        width: 100%;

        @include desktop {
            display: flex;
            height: 100%;
            justify-content: space-evenly;
        }

        &__image {
            width: 100vw;

            @include desktop {
                height: 100%;
                width: 800px;
            }
        }

        &__info {
            display: none;

            @include desktop {
                align-self: center;
                display: block;
                width: 30%;
            }
        }
    }
}
